.navbar{
   
    height: 120px;
    width: 100vw;
    display: flex;
    position: relative;
   
}
.navbar-left{
 
 
  margin-bottom: 298px;
}

.nav-image{
    
   border: 2px solid#009900;
   position: absolute;
  border-radius: 5px;

    height: 110px;
    width: 460px;
}
.navbar-right{
    
   border: 1px solid black;
    margin-bottom: 200px;
    margin-top: 20px;
    padding: 25px;

}
.nab-link{
     background-color: #009900;
     color: white;
   padding: 10px;
   margin-left: 25px;
     border-radius: 5px;
     text-decoration: none;
     font-weight: bold;
}